/* body{
    background-color: #194048;
} */

.videoDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10%;
}

.videos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    width: auto;
}

video {
    width: 45%;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 297px;
    width: 330px;
}

.remoteContainer {
    position: relative;
    width: 30;
}

.remoteVideo, .localVideo{
    width: 430px;
    max-width: 395px;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 297px;
}
.remoteImage {
    width: auto;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}



.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    width: 100%;
    position: relative;
    top: 8rem;
    left: 0rem;
}

.videobtn {
    font-size: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    color: white;
    background-color: #08716d;
    width: 126px;
}


.localVideoContainer {
  position: relative;
}

.overlayText {
  position: absolute;
  top: 10px;
  left: 10px;
  color: rgb(0, 0, 0); 
  font-size: 8px;
  font-weight: bold; 
  padding: 10px;
}

.localVideoContainer,
.remoteContainer {
  position: relative;
}

.localVideo,
.remoteImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlayText {
position: absolute;
top: 7%;
left: 18%;
transform: translate(-50%, -50%);
color: white;
font-size: 11px;
}

.controls {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.videobtn {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.videobtn.active {
  background-color: green; /* Change this to your desired active color */
  color: white;
}

.videobtn.red.active {
  background-color: red; /* Change this to your desired active color for the hangup button */
}