#videos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    width: 50%;
}

video {
    width: 45%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 270px;
}

#remoteContainer {
    position: relative;
    width: 30%;
}

#remoteVideo, #localVideo, #remoteImage {
    width: aoto;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 300px;
}

#remoteImage {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
    width: 100%;
    position: relative;
    top: 2rem;
    left: 2rem;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    background-color: #26C6DA;
}
