@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@500&display=swap");
/* .header{
  text-align: center;
  color: #f71aa2;
} */

.app {
  background: linear-gradient(5deg, #deeef6 0%, #3089af 100%);
  text-align: center;
  /* position: relative;
  top: 100px;
  left: 10px; */
  margin: 20%;
  width: 50%;
  height: 400px;
  min-height: 200px;
  /* height: min-content; */
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background: linear-gradient( #ff961d 0%, #f71aa2 100%);
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 3px solid #234668;
  cursor: pointer;
}


button:hover {
  background-color: #1b295c;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}

/* BackButton.css */
.back-button {
  /* Your styling goes here */
  background-color: #27e52d;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
    height: 52px;
    width: 69px;
    position: relative;
    top: 14px;
    left: 15px;
}
