@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&display=swap');

.app {
  background: linear-gradient(5deg, #deeef6 0%, #3089af 100%);
  text-align: start;
  position: relative;
  top: 15px;
  left: 212px;
  scroll-behavior: hidden;
  margin: 10%;
  width: 50%;
  height: 300px;
  min-height: 200px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
  position: relative;
  left: 14rem;
  top: 7rem;
}

/* QUESTION/TIMER/LEFT SECTION */

.question-area{
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 2rem;
}
.question-section {
  text-align: start;
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.question-text {
  font-weight: bold;
  margin-bottom: 12px;
  font-size: 15px;
  font-family: 'Nunito Sans', sans-serif;
}


/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr); 
  justify-content: space-between;
  font-size: medium;
  /* background-color: #4295b0; */
}

button {
    width: 65%;
    font-size: 10px;
    color: rgb(250, 47, 47);
    border-radius: 7px;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: start;
    border: 2px solid #234668;
    cursor: pointer;
}


button:hover {
  background-color: #75a9bd;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}

/* Score section */
.scoreSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  text-align: center;
}

.back-button {
  /* Your styling goes here */
  background-color: #27e52d;
  padding: 8px;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10%;
  height: 42px;
  width: 58px;
  position: relative;
  left: -2rem;
  top: 2rem;
}

/* <------------------------submit quiz button------------------------> */
/* Add this CSS for the submit button */
.submit-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  width: auto;
  float: right; 
}

.submit-button:hover {
  background-color: #45a049;
}

.submit_quiz_response{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  position: relative;
  top: 9rem;
}
